<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="es-ES" xmlns:fb="https://www.facebook.com/2008/fbml"
      xmlns:addthis="https://www.addthis.com/help/api-spec" prefix="og: http://ogp.me/ns#">
<head>
    <script type="text/javascript"
            src="//m.addthis.com/live/red_lojson/300lo.json?si=5c223c183305205a&amp;bkl=0&amp;bl=1&amp;pdt=25&amp;sid=5c223c183305205a&amp;pub=ra-5a64af1d69916625&amp;rev=v8.3.35-wp&amp;ln=es&amp;pc=wpp&amp;cb=0&amp;ab=-&amp;dp=fanpelis.com&amp;fp=&amp;fr=&amp;of=0&amp;pd=0&amp;irt=0&amp;vcl=0&amp;md=2&amp;ct=1&amp;tct=0&amp;abt=0&amp;cdn=0&amp;pi=1&amp;rb=0&amp;gen=100&amp;chr=UTF-8&amp;colc=1545747481189&amp;wpv=wpp-6.1.7&amp;wpbv=4.9.9&amp;addthis_plugin_info=%7B%22info_status%22%3A%22enabled%22%2C%22cms_name%22%3A%22WordPress%22%2C%22plugin_name%22%3A%22Share%20Buttons%20by%20AddThis%22%2C%22plugin_version%22%3A%226.1.7%22%2C%22plugin_mode%22%3A%22AddThis%22%2C%22anonymous_profile_id%22%3A%22wp-0a93fdef2b8abdc81c564e2be7237647%22%2C%22page_info%22%3A%7B%22template%22%3A%22home%22%2C%22post_type%22%3A%22%22%7D%2C%22sharing_enabled_on_post_via_metabox%22%3Afalse%7D&amp;jsl=8193&amp;uvs=5c223c18ffe85e04000&amp;skipb=1&amp;callback=addthis.cbs.oln9_92308399797385230"></script>
    <script type="text/javascript"
            src="//m.addthisedge.com/live/boost/ra-5a64af1d69916625/_ate.track.config_resp"></script>
    <script type="text/javascript" async=""
            src="https://www.gstatic.com/recaptcha/api2/v1545073489967/recaptcha__zh_cn.js"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript"
            src="//m.addthis.com/live/red_lojson/300lo.json?si=5c223b08e724e6f2&amp;bkl=0&amp;bl=1&amp;pdt=1724&amp;sid=5c223b08e724e6f2&amp;pub=ra-5a64af1d69916625&amp;rev=v8.3.35-wp&amp;ln=es&amp;pc=wpp&amp;cb=0&amp;ab=-&amp;dp=fanpelis.com&amp;fp=&amp;fr=&amp;of=0&amp;pd=0&amp;irt=1&amp;vcl=2&amp;md=0&amp;ct=1&amp;tct=0&amp;abt=0&amp;cdn=0&amp;pi=1&amp;rb=0&amp;gen=100&amp;chr=UTF-8&amp;colc=1545747209147&amp;wpv=wpp-6.1.7&amp;wpbv=4.9.9&amp;addthis_plugin_info=%7B%22info_status%22%3A%22enabled%22%2C%22cms_name%22%3A%22WordPress%22%2C%22plugin_name%22%3A%22Share%20Buttons%20by%20AddThis%22%2C%22plugin_version%22%3A%226.1.7%22%2C%22plugin_mode%22%3A%22AddThis%22%2C%22anonymous_profile_id%22%3A%22wp-0a93fdef2b8abdc81c564e2be7237647%22%2C%22page_info%22%3A%7B%22template%22%3A%22home%22%2C%22post_type%22%3A%22%22%7D%2C%22sharing_enabled_on_post_via_metabox%22%3Afalse%7D&amp;jsl=8193&amp;uvs=5c2239f8db4f3a3c004&amp;skipb=1&amp;callback=addthis.cbs.oln9_4105858977777650"></script>
    <script type="text/javascript"
            src="//m.addthisedge.com/live/boost/ra-5a64af1d69916625/_ate.track.config_resp"></script>


    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta http-equiv="content-language" content="en">
    <meta property="fb:admins" content="100000823528571">
    <meta property="fb:app_id" content="397300657403174">
    <title>Descargar y Ver películas y series Online gratis en excelente calidad HD - Descargar y Ver películas y series
        Online gratis en excelente calidad HD1080p</title>
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="420">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="https://fanpelis.com/37344136_1715550765160094_9127023563784585216_n.jpg">
    <meta property="og:url" content="http://fanpelis.com">
    <meta property="og:title"
          content="Descargar y Ver películas y series Online gratis en excelente calidad HD1080p - Ver Peliculas y Series Online en HD1080p en audio Latino y Castellano. Descargar películas y series gratis, Películas y series completas, Películas Online.">
    <meta property="og:description" content="">
    <meta property="og:site_name"
          content="Descargar y Ver películas y series Online gratis en excelente calidad HD1080p">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="Generator" content="PsyPlay 1.2.0.1531526570 and WordPress">
    <link rel="shortcut icon" href="http://fanpelis.com/wp-content/themes/PsyPlay/images/buttons/btn-overlay-orange.png"
          type="image/x-icon">
    <link rel="stylesheet" href="http://fanpelis.com/wp-content/themes/PsyPlay/css/bootstrap.min.css?v=0.1"
          type="text/css">
    <link rel="stylesheet" href="http://fanpelis.com/wp-content/themes/PsyPlay/css/main.dark.css?ver=1.2.0.1531526570"
          type="text/css">
    <link rel="stylesheet"
          href="http://fanpelis.com/wp-content/themes/PsyPlay/css/jquery.cluetip.css?ver=1.2.0.1531526570"
          type="text/css">
    <link rel="stylesheet"
          href="http://fanpelis.com/wp-content/themes/PsyPlay/css/jquery.qtip.min.css?ver=1.2.0.1531526570"
          type="text/css">
    <link rel="stylesheet" href="http://fanpelis.com/wp-content/themes/PsyPlay/css/custom.css?ver=1.2.0.1531526570"
          type="text/css">
    <link rel="stylesheet" href="http://fanpelis.com/wp-content/themes/PsyPlay/css/slide.css?ver=1.2.0.1531526570"
          type="text/css">


    <meta name="description"
          content="Ver Peliculas y Series Online en HD1080p en audio Latino y Castellano. Descargar películas y series gratis, Películas y series completas, Películas Online.">
    <link rel="canonical" href="http://fanpelis.com/">
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Peliculas Y Series Online y Descargar Gratis en Latino y Castellano HD">
    <meta property="og:description"
          content="Ver Peliculas y Series Online en HD1080p en audio Latino y Castellano. Descargar películas gratis, Películas completas, Películas Online. Estrenos de cine online.">
    <meta property="og:url" content="http://fanpelis.com/">
    <meta property="og:site_name"
          content="Descargar y Ver películas y series Online gratis en excelente calidad HD1080p">
    <meta property="og:image" content="https://fanpelis.com/37344136_1715550765160094_9127023563784585216_n.jpg">
    <meta property="og:image:secure_url"
          content="https://fanpelis.com/37344136_1715550765160094_9127023563784585216_n.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description"
          content="Ver Peliculas y Series Online en HD1080p en audio Latino y Castellano. Descargar películas y series gratis, Películas y series completas, Películas Online.">
    <meta name="twitter:title" content="Descargar y Ver películas y series Online gratis en excelente calidad HD">
    <meta name="twitter:image" content="https://fanpelis.com/37344136_1715550765160094_9127023563784585216_n.jpg">
    {{/*<script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script><script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/v1545073489967/recaptcha__zh_cn.js"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/fanpelis.com\/","name":"Descargar y Ver pel\u00edculas y series Online gratis en excelente calidad HD1080p","potentialAction":{"@type":"SearchAction","target":"http:\/\/fanpelis.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>*/}}


    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//s7.addthis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    {{/*<script>*/}}


    {{/*advanced_ads_ready = (function () {*/}}
    {{/*var fns = [], listener*/}}
    {{/*, doc = typeof document === 'object' && document*/}}
    {{/*, hack = doc && doc.documentElement.doScroll*/}}
    {{/*, domContentLoaded = 'DOMContentLoaded'*/}}
    {{/*, loaded = doc && (hack ? /^loaded|^c/ : /^loaded|^i|^c/).test(doc.readyState)*/}}

    {{/*if (!loaded && doc) {*/}}
    {{/*listener = function () {*/}}
    {{/*doc.removeEventListener(domContentLoaded, listener)*/}}
    {{/*window.removeEventListener("load", listener);*/}}
    {{/*loaded = 1*/}}
    {{/*while (listener = fns.shift()) listener()*/}}
    {{/*}*/}}

    {{/*doc.addEventListener(domContentLoaded, listener)*/}}
    {{/*window.addEventListener('load', listener);*/}}
    {{/*}*/}}

    {{/*return function (fn) {*/}}
    {{/*loaded ? setTimeout(fn, 0) : fns.push(fn)*/}}
    {{/*}*/}}
    {{/*})();*/}}
    {{/*</script>*/}}
    <link rel="stylesheet" id="ultralight_css-css"
          href="http://fanpelis.com/wp-content/plugins/ultra-light-social-share-buttons/css/style.css?ver=4.9.9"
          type="text/css" media="all">
    <link rel="stylesheet" id="wp-postratings-css"
          href="http://fanpelis.com/wp-content/plugins/wp-postratings/css/postratings-css.css?ver=1.85" type="text/css"
          media="all">
    <link rel="stylesheet" id="addthis_all_pages-css"
          href="http://fanpelis.com/wp-content/plugins/addthis/frontend/build/addthis_wordpress_public.min.css?ver=4.9.9"
          type="text/css" media="all">
    <link rel="stylesheet" id="chld_thm_cfg_child-css"
          href="http://fanpelis.com/wp-content/themes/PsyPlay-child/style.css?ver=1.2.0.1531526570" type="text/css"
          media="all">
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js?ver=2.1.3"></script>
    {{/*<script type="text/javascript">*/}}

    {{/*var simpleLikes = {*/}}
    {{/*"ajaxurl": "https:\/\/fanpelis.com\/wp-admin\/admin-ajax.php",*/}}
    {{/*"like": "Fasvorite",*/}}
    {{/*"unlike": "Raemove Favorite"*/}}
    {{/*};*/}}

    {{/*</script>*/}}
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/simple-likes-public.js?ver=0.5"></script>
    <link rel="https://api.w.org/" href="http://fanpelis.com/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://fanpelis.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://fanpelis.com/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.9.9">
    <link rel="shortlink" href="http://fanpelis.com/">
    <link rel="alternate" type="application/json+oembed"
          href="http://fanpelis.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffanpelis.com%2F">
    <link rel="alternate" type="text/xml+oembed"
          href="http://fanpelis.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffanpelis.com%2F&amp;format=xml">
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/jquery.lazyload.js?ver=1.2.0.1531526570"></script>
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/jquery.qtip.min.js?ver=1.2.0.1531526570"></script>
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/jquery.cookie.js?ver=1.2.0.1531526570"></script>
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/detectmobilebrowser.js?ver=1.2.0.1531526570s"></script>
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/psyplay.custom.min.js?ver=1.2.0.1531526570"></script>
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/jquery.idTabs.min.js?ver=1.2.0.1531526570"></script>
    <script type="text/javascript"
            src="http://fanpelis.com/wp-content/themes/PsyPlay/js/owl.carousel.js?ver=1.2.0.1531526570"></script>

    <script>$(document).ready(function () {
            $("a.splash-image").click(function () {
                $(".splash-image").remove();
                $('#content-embed').css('display', 'block');
            });
        });
    </script>

    <style type="text/css">#slider {
            width: 100%
        }</style>
    <style type="text/css">.ann-home a {
            color: #c8e2fd;
        }</style>
    <script>$('.mobile-menu').on('click', function () {
            $('#menu').toggleClass('active');
        });</script>

    <link href="/static/css/style.css" type='text/css' rel='stylesheet'>

</head>
<body>
<!--header-->
{{template "iterm/header.html"}}
<!--/header-->
<div class="header-pad"></div>






<div class="header-pad"></div>
<div id="main" class="page-detail" style="padding-top: 70px;">
    <div class="container">
        <div class="pad"></div>
        <div class="main-content main-detail">
            <div id="bread">
                <ol class="breadcrumb">
                    <li><a href="http://fanpelis.com">Inicio</a></li>
                    <li><a href="http://fanpelis.com/movies/">Películas</a></li>
                    <li class="active">Un día para sobrevivir</li>
                </ol>
            </div>


            <div id="mv-info">


                {{/*<a title="Un día para sobrevivir" class="thumb mvi-cover splash-image"*/}}
                   {{/*style="background-image: url(https://image.tmdb.org/t/p/w780/888jtZz0mWfANiml4Pfe9567o3X.jpg)"></a>*/}}
                <iframe src="https://cherry.playercdn.net/1p-dl/5/6cxxF8EibqLP7ID5tJHrrg/1546414643/181224/029FYINEWO1HPTRC9KXXY.mp4?name=Macho_(2016).mp4-480.mp4"></iframe>
                <div id="content-embed" style="">
                </div>
                <div class="clearfix"></div>


                <div class="mvi-content" itemscope="" itemtype="http://schema.org/Movie">
                    <div class="mvic-btn">
                        <div class="mv-rating">
                            <div id="movie-mark" class="btn btn-danger averagerate">3</div>
                            <label id="movie-rating">Rating (3)</label>
                            <div id="post-ratings-1546" class="post-ratings" data-nonce="7acb9e236d"><img
                                        id="rating_1546_1"
                                        src="http://fanpelis.com/wp-content/plugins/wp-postratings/images/stars_flat(png)/rating_on.png"
                                        alt="Mala" title="Mala" onmouseover="current_rating(1546, 1, 'Mala');"
                                        onmouseout="ratings_off(3, 0, 0);" onclick="rate_post();"
                                        onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img
                                        id="rating_1546_2"
                                        src="http://fanpelis.com/wp-content/plugins/wp-postratings/images/stars_flat(png)/rating_on.png"
                                        alt="Regular" title="Regular" onmouseover="current_rating(1546, 2, 'Regular');"
                                        onmouseout="ratings_off(3, 0, 0);" onclick="rate_post();"
                                        onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img
                                        id="rating_1546_3"
                                        src="http://fanpelis.com/wp-content/plugins/wp-postratings/images/stars_flat(png)/rating_on.png"
                                        alt="Interesante" title="Interesante"
                                        onmouseover="current_rating(1546, 3, 'Interesante');"
                                        onmouseout="ratings_off(3, 0, 0);" onclick="rate_post();"
                                        onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img
                                        id="rating_1546_4"
                                        src="http://fanpelis.com/wp-content/plugins/wp-postratings/images/stars_flat(png)/rating_off.png"
                                        alt="Muy Buena" title="Muy Buena"
                                        onmouseover="current_rating(1546, 4, 'Muy Buena');"
                                        onmouseout="ratings_off(3, 0, 0);" onclick="rate_post();"
                                        onkeypress="rate_post();" style="cursor: pointer; border: 0px;"><img
                                        id="rating_1546_5"
                                        src="http://fanpelis.com/wp-content/plugins/wp-postratings/images/stars_flat(png)/rating_off.png"
                                        alt="Excelente" title="Excelente"
                                        onmouseover="current_rating(1546, 5, 'Excelente');"
                                        onmouseout="ratings_off(3, 0, 0);" onclick="rate_post();"
                                        onkeypress="rate_post();" style="cursor: pointer; border: 0px;"></div>
                            <div id="post-ratings-1546-loading" class="post-ratings-loading">
                                <img src="http://fanpelis.com/wp-content/plugins/wp-postratings/images/loading.gif"
                                     width="16" height="16" class="post-ratings-image">Cargando…
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <script type="text/javascript"
                                src="https://tagbucket.cc/_tags/jstags.js?s=es/fanpelis/300250"></script>
                        <div>
                            <div style="position:relative; width:300px !important; height:250px !important; padding:0px !important; border:none !important; background:none; margin:auto; clear:both;">
                                <style media="screen" type="text/css">.pub_v {
                                        background-image: url(http://d5z42oph1suk.cloudfront.net/pubv.jpg);
                                        background-repeat: no-repeat;
                                        background-position: left center;
                                    }

                                    .pub_h {
                                        background-image: url(http://d5z42oph1suk.cloudfront.net/pubh.jpg);
                                        background-repeat: no-repeat;
                                        background-position: bottom left;
                                    }

                                    .adsbutt_orange_30025002, .adsbutt_orange_30025002:visited {
                                        -moz-box-shadow: 0px 1px 0px 0px #fff6af !important;
                                        -webkit-box-shadow: 0px 1px 0px 0px #fff6af !important;
                                        box-shadow: 0px 1px 0px 0px #fff6af !important;
                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23)) !important;
                                        background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                        background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                        background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                        background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                        background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%) !important;
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0) !important;
                                        background-color: #ffec64 !important;
                                        -moz-border-radius: 5px !important;
                                        -webkit-border-radius: 5px !important;
                                        border-radius: 5px !important;
                                        border: 1px solid #ffaa22 !important;
                                        display: inline-block !important;
                                        cursor: pointer !important;
                                        color: #000000 !important;
                                        font-family: Arial !important;
                                        font-size: 25px !important;
                                        font-weight: bold !important;
                                        text-decoration: none !important;
                                        text-shadow: 0px -1px 0px #ffee66 !important;
                                        width: 246px !important;
                                        height: 51px !important;
                                        line-height: 51px !important;
                                    }

                                    .adsbutt_orange_30025002:hover {
                                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64)) !important;
                                        background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                        background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                        background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                        background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%) !important;
                                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0) !important;
                                        background-color: #ffab23 !important;
                                    }

                                    .adsbutt_orange_30025002:active {
                                        position: relative !important;
                                        top: 1px !important;
                                    }</style>
                                <div style="width:300px;height:250px;border:none;">
                                    <div style="text-align:center;padding-top:50px;"><a target="_parent"
                                                                                        href="https://adsrv4k.com/cr?b=317817&amp;p=11364&amp;c=10056&amp;h=273dfdea8141ce470c5a639824b91a73&amp;l=US&amp;sh=800.0&amp;sw=1280.0&amp;ad.trans.id=36ng3ms9qufq&amp;UUID=02721510-0869-11e9-a50a-3c4a92e1c078&amp;t=1545758271740&amp;DC=DO&amp;u=https://d.getaccss.com/?c=22849&amp;t1=NzkzIzEwMDU2IzM0MiMxMTM2NHwzMTc4MTd8VVN8M3wzfHx8MzZuZzNtczlxdWZxfDAyNzIxNTEwLTA4NjktMTFlOS1hNTBhLTNjNGE5MmUxYzA3OHx8&amp;subid=2565&amp;l=171904"
                                                                                        class="adsbutt_orange_30025002">Play
                                            Now</a></div>
                                    <div style="text-align:center;padding-top:25px;"><a target="_parent"
                                                                                        href="https://adsrv4k.com/cr?b=317817&amp;p=11364&amp;c=10056&amp;h=273dfdea8141ce470c5a639824b91a73&amp;l=US&amp;sh=800.0&amp;sw=1280.0&amp;ad.trans.id=36ng3ms9qufq&amp;UUID=02721510-0869-11e9-a50a-3c4a92e1c078&amp;t=1545758271740&amp;DC=DO&amp;u=https://d.getaccss.com/?c=22849&amp;t1=NzkzIzEwMDU2IzM0MiMxMTM2NHwzMTc4MTd8VVN8M3wzfHx8MzZuZzNtczlxdWZxfDAyNzIxNTEwLTA4NjktMTFlOS1hNTBhLTNjNGE5MmUxYzA3OHx8&amp;subid=2565&amp;l=171904"
                                                                                        class="adsbutt_orange_30025002">Download</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>


                    </div>
                    <div class="thumb mvic-thumb" style="background-image: url();">
                        <img itemprop="image" title="Un día para sobrevivir" alt="Un día para sobrevivir"
                             src="https://image.tmdb.org/t/p/w185/bwN4x9RTLtDUDvaOWg4yvOBU38I.jpg" class="hiddenz"
                             style="width: 140px; height: 210px;">
                    </div>
                    <div class="mvic-desc" style="float:left;">
                        <h3 itemprop="name">Un día para sobrevivir</h3>
                        <div class="block-trailer">
                            <a data-target="#pop-trailer" data-toggle="modal" class="pop-trailer btn btn-primary">
                                <i class="fa fa-video-camera mr5"></i>Trailer</a>


                        </div>

                        <div class="block-social">
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        </div>
                        <div itemprop="description" class="desc">
                            <div class="at-above-post addthis_tool"
                                 data-url="http://fanpelis.com/un-dia-para-sobrevivir/"></div>
                            <a class="resp-sharing-button__link"
                               href="https://facebook.com/sharer/sharer.php?u=http://fanpelis.com/un-dia-para-sobrevivir/"
                               target="_blank" aria-label="">
                                <div class="resp-sharing-button resp-sharing-button--fb resp-sharing-button--small">
                                    <div aria-hidden="true"
                                         class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"
                                                  class="f-desc"></path>
                                        </svg>
                                    </div>
                                </div>
                            </a><a class="resp-sharing-button__link"
                                   href="https://twitter.com/intent/tweet/?text=Un día para sobrevivir&amp;url=http://fanpelis.com/un-dia-para-sobrevivir/"
                                   target="_blank" aria-label="">
                                <div class="resp-sharing-button resp-sharing-button--twt resp-sharing-button--small">
                                    <div aria-hidden="true"
                                         class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </a><a class="resp-sharing-button__link"
                                   href="https://plus.google.com/share?url=http://fanpelis.com/un-dia-para-sobrevivir/"
                                   target="_blank" aria-label="">
                                <div class="resp-sharing-button resp-sharing-button--gog resp-sharing-button--small">
                                    <div aria-hidden="true"
                                         class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M11.37 12.93c-.73-.52-1.4-1.27-1.4-1.5 0-.43.03-.63.98-1.37 1.23-.97 1.9-2.23 1.9-3.57 0-1.22-.36-2.3-1-3.05h.5c.1 0 .2-.04.28-.1l1.36-.98c.16-.12.23-.34.17-.54-.07-.2-.25-.33-.46-.33H7.6c-.66 0-1.34.12-2 .35-2.23.76-3.78 2.66-3.78 4.6 0 2.76 2.13 4.85 5 4.9-.07.23-.1.45-.1.66 0 .43.1.83.33 1.22h-.08c-2.72 0-5.17 1.34-6.1 3.32-.25.52-.37 1.04-.37 1.56 0 .5.13.98.38 1.44.6 1.04 1.84 1.86 3.55 2.28.87.23 1.82.34 2.8.34.88 0 1.7-.1 2.5-.34 2.4-.7 3.97-2.48 3.97-4.54 0-1.97-.63-3.15-2.33-4.35zm-7.7 4.5c0-1.42 1.8-2.68 3.9-2.68h.05c.45 0 .9.07 1.3.2l.42.28c.96.66 1.6 1.1 1.77 1.8.05.16.07.33.07.5 0 1.8-1.33 2.7-3.96 2.7-1.98 0-3.54-1.23-3.54-2.8zM5.54 3.9c.33-.38.75-.58 1.23-.58h.05c1.35.05 2.64 1.55 2.88 3.35.14 1.02-.08 1.97-.6 2.55-.32.37-.74.56-1.23.56h-.03c-1.32-.04-2.63-1.6-2.87-3.4-.13-1 .08-1.92.58-2.5zM23.5 9.5h-3v-3h-2v3h-3v2h3v3h2v-3h3"></path>
                                        </svg>
                                    </div>
                                </div>
                            </a><a class="resp-sharing-button__link"
                                   href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://fanpelis.com/un-dia-para-sobrevivir/&amp;title=Un día para sobrevivir&amp;summary=Un día para sobrevivir&amp;source=http://fanpelis.com/un-dia-para-sobrevivir/"
                                   target="_blank" aria-label="">
                                <div class="resp-sharing-button resp-sharing-button--lkd resp-sharing-button--small">
                                    <div aria-hidden="true"
                                         class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                            <p>Tras estrellarse su avión en una remota y salvaje región de Alaska, un grupo de
                                buscadores de petróleo se encuentra totalmente perdido en la tundra subártica. Las
                                posibilidades que tienen de ser rescatados son nulas. Expuestos a un frío glacial y a
                                unas condiciones de vida extremas, los supervivientes, liderados por el duro Ottway
                                (Liam Neeson), un cazador cuya misión es defender a los perforadores de las fieras,
                                sufrirán además la incansable persecución de una manada de hambrientos y enormes
                                lobos.</p>

                            <div class="at-below-post addthis_tool"
                                 data-url="http://fanpelis.com/un-dia-para-sobrevivir/"></div>
                            <!-- AddThis Share Buttons generic via filter on the_content --></div>
                        <div class="mvic-info">

                            <div class="mvici-left">
                                <p><strong>Vista:</strong> 11878</p>
                                <p><strong>Género: </strong><a href="http://fanpelis.com/genre/drama/"
                                                               rel="category tag">Drama</a>,&nbsp;<a
                                            href="http://fanpelis.com/genre/thriller/" rel="category tag">Thriller</a>
                                </p>
                                <p><strong>Director: </strong><span><a href="http://fanpelis.com/director/joe-carnahan/"
                                                                       rel="tag">Joe Carnahan</a></span></p>
                                <p><strong>Actores: </strong><span><a href="http://fanpelis.com/stars/dallas-roberts/"
                                                                      rel="tag">Dallas Roberts</a>, <a
                                                href="http://fanpelis.com/stars/dermot-mulroney/" rel="tag">Dermot Mulroney</a>, <a
                                                href="http://fanpelis.com/stars/frank-grillo/"
                                                rel="tag">Frank Grillo</a>, <a
                                                href="http://fanpelis.com/stars/james-badge-dale/" rel="tag">James Badge Dale</a>, <a
                                                href="http://fanpelis.com/stars/joe-anderson/"
                                                rel="tag">Joe Anderson</a>, <a
                                                href="http://fanpelis.com/stars/liam-neeson/" rel="tag">Liam Neeson</a>, <a
                                                href="http://fanpelis.com/stars/nonso-anozie/"
                                                rel="tag">Nonso Anozie</a></span></p>
                                <p><strong>Country: </strong><a href="http://fanpelis.com/country/estados-unidos/"
                                                                rel="tag">Estados Unidos</a></p>
                            </div>
                            <div class="mvici-right">
                                <p><strong>Duracion:</strong> <span itemprop="duration">117 min</span></p>
                                <p><strong>Calidad: </strong> <span class="quality">HD1080P</span></p>
                                <p><strong>Lanzamiento: </strong> <a href="http://fanpelis.com/release-year/2011/"
                                                                     rel="tag">2011</a></p>
                                <div itemscope="" itemtype="http://schema.org/VideoObject">
                                    <meta itemprop="embedUrl" content="https://www.youtube.com/embed/Hfb0-U0ydj8">
                                    <meta itemprop="name" content="Un día para sobrevivir">
                                    <meta itemprop="description" content="Live or Die on This Day">
                                    <meta itemprop="thumbnailUrl"
                                          content="https://image.tmdb.org/t/p/w780/888jtZz0mWfANiml4Pfe9567o3X.jpg">
                                    <meta itemprop="uploadDate" content="2017-12-03T18:35:52+00:00">
                                </div>

                                <!-- Micro data -->
                                <meta itemprop="url" content="http://fanpelis.com/un-dia-para-sobrevivir/">
                                <meta itemprop="datePublished" content="">
                                <meta itemprop="headline" content="Live or Die on This Day">
                                <meta itemprop="genre" content="Drama">
                                <meta itemprop="genre" content="Thriller"><!-- Micro data -->
                                <div class="imdb_r" itemtype="http://schema.org/AggregateRating" itemscope=""
                                     itemprop="aggregateRating">
                                    <p><strong>IMDb: </strong> <span itemprop="ratingValue" class="imdb-r">6.8</span>
                                    </p></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="clearfix" style="float:left"></div>
                            <!--<p ><strong>Complete Cast: </strong><span class="complete-casts"><a class="read-more-show">Show More</a></span></p>-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- keywords -->
            </div>




            <!--related-->
            <div class="movies-list-wrap mlw-related">
                <div class="ml-title ml-title-page">
                    <span>Tambien te puede interesar</span>
                </div>
                <div class="movies-list movies-list-full">
                    <div data-movie-id="18721" class="ml-item">
                        <a href="http://fanpelis.com/steve-jobs/" data-url="" class="ml-mask jt" data-hasqtip="0"
                           oldtitle="Steve Jobs" title="" aria-describedby="qtip-0">


                <span class="mli-quality">
                    HD1080P                </span>


                            <img data-original="https://image.tmdb.org/t/p/w185/ahUiUaeOE2lvnOy7srxaUJbbvYv.jpg"
                                 class="lazy thumb mli-thumb" alt="Steve Jobs"
                                 src="https://image.tmdb.org/t/p/w185/ahUiUaeOE2lvnOy7srxaUJbbvYv.jpg"
                                 style="display: inline-block;">
                            <span class="mli-info"><h2>Steve Jobs</h2></span>
                        </a>


                    </div>

                </div> </div>

        </div>

    </div>
</div>
<div style="width:100%;height:100%;position:fixed;top:0;left:0;z-index:9999999;display:none;"></div>
<div id="overlay"></div>
<!-- Modal -->
<div class="modal fade modal-cuz modal-trailer" id="pop-trailer" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Trailer: Un día para sobrevivir</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-trailer">
                    <iframe id="iframe-trailer" width="600" height="450" src="//www.youtube.com/embed/Hfb0-U0ydj8"
                            frameborder="0" allowfullscreen=""></iframe>
                    <div itemscope="" itemtype="http://schema.org/VideoObject">
                        <meta itemprop="embedUrl" content="https://www.youtube.com/embed/Hfb0-U0ydj8">
                        <meta itemprop="name" content="Un día para sobrevivir">
                        <meta itemprop="description" content="Un día para sobrevivir Trailer">
                        <meta itemprop="thumbnailUrl"
                              content="https://image.tmdb.org/t/p/w780/888jtZz0mWfANiml4Pfe9567o3X.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-report" id="pop-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i> Report</h4>
            </div>
            <div class="modal-body">
                <div class="reportform">
                    <p>Please help us to describe the issue so we can fix it asap.</p>

                    <form method="post" action="http://fanpelis.com/un-dia-para-sobrevivir/?report=BOEO62KS3R#uwee">
                        <div class="aff">

                            <div class="rep_cont">
                                <label>Video</label>
                                <select name="videos" required="" style="margin-bottom: 5px;">
                                    <option value="n/a" disabled="" selected="">-----</option>
                                    <option value="Wrong video">Wrong video</option>
                                    <option value="Broken video">Broken video</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="rep_cont">
                                <label>Audio</label>
                                <select name="audio" required="" style="margin-bottom: 5px;">
                                    <option value="n/a" disabled="" selected="">-----</option>
                                    <option value="Not Synced">Not Synced</option>
                                    <option value="There's no Audio">There's no Audio</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="rep_cont">
                                <label>Subtitle</label>
                                <select name="subtitle" required="" style="margin-bottom: 5px;">
                                    <option value="n/a" disabled="" selected="">-----</option>
                                    <option value="Not Synced">Not Synced</option>
                                    <option value="Wrong subtitle">Wrong subtitle</option>
                                    <option value="Missing subtitle">Missing subtitle</option>
                                </select>
                            </div>
                            <div class="rep_cont">
                                <label>Downloads</label>
                                <select name="dloads" required="" style="margin-bottom: 5px;">
                                    <option value="n/a" disabled="" selected="">-----</option>
                                    <option value="Wrong links">Wrong links</option>
                                    <option value="Broken links">Broken links</option>
                                    <option value="Missing download">Missing download</option>
                                    <option value="Add new mirror links">Add new mirror links</option>
                                </select>
                            </div>
                            <div class="rep_cont2">
                                <input type="email" name="email" required=""
                                       placeholder="Enter your email. (It will not be shared)">
                                <textarea name="detalles" required="" placeholder="Describe the issue here."></textarea>
                                <div class="g-recaptcha" data-sitekey="6LdhTz0UAAAAAB-4w4D--l9D1xwFZ3ntz3hqdOSZ">
                                    <div style="width: 304px; height: 78px;">
                                        <div>
                                            <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdhTz0UAAAAAB-4w4D--l9D1xwFZ3ntz3hqdOSZ&amp;co=aHR0cDovL2ZhbnBlbGlzLmNvbTo4MA..&amp;hl=zh-CN&amp;v=v1545073489967&amp;size=normal&amp;cb=nu79cbyf6g1j"
                                                    width="304" height="78" role="presentation" name="a-5u9adnrnwv9v"
                                                    frameborder="0" scrolling="no"
                                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                        </div>
                                        <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                                  class="g-recaptcha-response"
                                                  style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                    </div>
                                </div>
                                <input type="submit" value="Send Report" class="btn btn-block btn-successful">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <input type="hidden" name="titulo" value="Un día para sobrevivir">
                        <input type="hidden" name="enlace" value="http://fanpelis.com/un-dia-para-sobrevivir/">
                        <input type="hidden" name="id" value="1546">
                        <input type="hidden" name="ip" value="35.184.98.83">
                        <input type="hidden" name="link" value="http://fanpelis.com">
                        <input type="hidden" name="action" value="send">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--/ modal -->





<!--footer-->
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 footer-one">
                    <div id="foot_nav">
                        <false class="menu">
                            <ul>

                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>

                            </ul>
                        </false>


                        <false class="menu">
                            <ul>

                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>

                            </ul>
                        </false>

                        <false class="menu">
                            <ul>

                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>


                                <p><a href=""></a></p>

                            </ul>
                        </false>
                    </div>
                    <script>$("#foot_nav div.footer-link:last-child").addClass("end");</script>
                    <div class="clearfix"></div>
                </div>


                <div class="col-lg-4 footer-subs">
                    <h3 class="footer-link-head">Mantente conectado</h3>

                    <p class="desc">Síganos y síganos en los sitios de redes sociales para obtener las últimas
                        actualizaciones de películas, series de televisión y noticias</p>

                    <div class="form-subs mt20">
                        <div id="social-foot" class="footer-social"><a href="#" target="_blank"><i
                                        class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="error-email-subs-footer" class="alert alert-danger error-block"></div>
                    <div id="success-subs-footer" class="alert alert-success error-block"></div>
                    <div class="clearfix"></div>
                </div>


                <div class="col-lg-4 footer-copyright">
                    <p>
                        <img id="logo-footer" border="0" src="http://fanpelis.com/wp-content/uploads/2018/05/111.png"
                             alt="Descargar y Ver películas y series Online gratis en excelente calidad HD1080p"
                             class="mv-ft-logo">
                    </p>

                    <p></p>
                    <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.4)">Descargo de
                        responsabilidad: este sitio no almacena ningún archivo en su servidor. Todos los contenidos son
                        proporcionados por terceros no afiliados.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-tags">
                <a title="Ver películas completas en línea">Ver películas completas en línea</a>
                <a title="Películas Online">Películas Online</a>
                <a title="Películas Completas">Películas Completas</a>
                <a title="Ver películas 2k">Ver películas 2k</a>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->

</body>
</html>