<div class="container">
    <div class="pad"></div>
    <div class="main-content main-detail">
        <div id="bread">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/page/total/movies">Movie</a></li>
                <li class="active">{{.PlayData.Title}}</li>
            </ol>
        </div>

        <div id="mv-info">
            <a title="{{.PlayData.Title}}" class="play_button thumb mvi-cover splash-image"
               style="background-image: url(http://127.0.0.1:5000/help_spider/getImage?url={{.PlayData.ImgSrc}})">
            </a>


            <link rel="stylesheet" href="http://paypal.github.io/accessible-html5-video-player/css/px-video.css">

            <div class="px-video-container" id="myvid" style="display: none">
                <div class="px-video-img-captions-container">
                    <div class="px-video-captions hide" aria-hidden="true"></div>
                    <video id="video_movie" width="640" height="360" poster="" controls="" style="height: auto;width: 100%;">
                        <source src="{{.Url}}" type="video/mp4">

                        <track kind="captions" label="English captions" src="media/foo.vtt" srclang="en" default="">
                        <div>
                            <a href="{{.Url}}">
                                <img src="https://s3-us-west-1.amazonaws.com/static-soource/es_movie/images/{{.PlayData.Id}}.jpg" width="640" height="360" alt="download video">
                            </a>
                        </div>
                    </video>
                </div>
                <div class="px-video-controls"></div>
                {{/*<img id="play_img">*/}}
            </div>




            <div id="content-embed" style="">
            </div>
            <div class="clearfix"></div>

            <div class="mvi-content" itemscope="" itemtype="http://schema.org/Movie">
                <div class="mvic-btn">
                    <script type="text/javascript"
                            src="https://tagbucket.cc/_tags/jstags.js?s=es/fanpelis/300250"></script>
                    <div>
                        <div style="position:relative; width:300px !important; height:250px !important; padding:0px !important; border:none !important; background:none; margin:auto; clear:both;">
                            <style media="screen" type="text/css">.pub_v {
                                    background-image: url(http://d5z42oph1suk.cloudfront.net/pubv.jpg);
                                    background-repeat: no-repeat;
                                    background-position: left center;
                                }

                                .pub_h {
                                    background-image: url(http://d5z42oph1suk.cloudfront.net/pubh.jpg);
                                    background-repeat: no-repeat;
                                    background-position: bottom left;
                                }

                                .adsbutt_orange_30025002, .adsbutt_orange_30025002:visited {
                                    -moz-box-shadow: 0px 1px 0px 0px #fff6af !important;
                                    -webkit-box-shadow: 0px 1px 0px 0px #fff6af !important;
                                    box-shadow: 0px 1px 0px 0px #fff6af !important;
                                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23)) !important;
                                    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
                                    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%) !important;
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0) !important;
                                    background-color: #ffec64 !important;
                                    -moz-border-radius: 5px !important;
                                    -webkit-border-radius: 5px !important;
                                    border-radius: 5px !important;
                                    border: 1px solid #ffaa22 !important;
                                    display: inline-block !important;
                                    cursor: pointer !important;
                                    color: #000000 !important;
                                    font-family: Arial !important;
                                    font-size: 25px !important;
                                    font-weight: bold !important;
                                    text-decoration: none !important;
                                    text-shadow: 0px -1px 0px #ffee66 !important;
                                    width: 246px !important;
                                    height: 51px !important;
                                    line-height: 51px !important;
                                }

                                .adsbutt_orange_30025002:hover {
                                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64)) !important;
                                    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
                                    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%) !important;
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0) !important;
                                    background-color: #ffab23 !important;
                                }

                                .adsbutt_orange_30025002:active {
                                    position: relative !important;
                                    top: 1px !important;
                                }</style>
                            <div style="width:300px;height:250px;border:none;">
                                <div style="text-align:center;padding-top:22px;"><a target="_parent" class="adsbutt_orange_30025002 play_now">Play Now</a></div>
                                <div style="text-align:center;padding-top:25px;"><a target="_parent"  class="adsbutt_orange_30025002 download_now">Download</a>
                                </div>


                                </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>


                </div>
                <div class="thumb mvic-thumb" style="background-image: url('https://s3-us-west-1.amazonaws.com/static-soource/es_movie/images/{{.PlayData.Id}}.jpg');">
                    <img itemprop="image" title="{{.PlayData.Title}}" alt="{{.PlayData.Title}}"
                         src="https://s3-us-west-1.amazonaws.com/static-soource/es_movie/images/{{.PlayData.Id}}.jpg" class="hiddenz"
                         style="width: 140px; height: 210px;">
                </div>
                <div class="mvic-desc" style="float:left;">
                    <h3 itemprop="name">{{.PlayData.Title}}</h3>
                    <div class="block-trailer">

                    </div>

                    <div class="block-social">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    </div>
                    <div itemprop="description" class="desc">
                        <div class="at-above-post addthis_tool"
                             data-url="http://fanpelis.com/un-dia-para-sobrevivir/"></div>
                        <a class="resp-sharing-button__link"
                           href="https://facebook.com/sharer/sharer.php?u=http://fanpelis.com/un-dia-para-sobrevivir/"
                           target="_blank" aria-label="">
                            <div class="resp-sharing-button resp-sharing-button--fb resp-sharing-button--small">
                                <div aria-hidden="true"
                                     class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"
                                              class="f-desc"></path>
                                    </svg>
                                </div>
                            </div>
                        </a><a class="resp-sharing-button__link"
                               href="https://twitter.com/intent/tweet/?text={{.PlayData.Title}}&amp;url=http://fanpelis.com/un-dia-para-sobrevivir/"
                               target="_blank" aria-label="">
                            <div class="resp-sharing-button resp-sharing-button--twt resp-sharing-button--small">
                                <div aria-hidden="true"
                                     class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"></path>
                                    </svg>
                                </div>
                            </div>
                        </a><a class="resp-sharing-button__link"
                               href="https://plus.google.com/share?url=http://fanpelis.com/un-dia-para-sobrevivir/"
                               target="_blank" aria-label="">
                            <div class="resp-sharing-button resp-sharing-button--gog resp-sharing-button--small">
                                <div aria-hidden="true"
                                     class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M11.37 12.93c-.73-.52-1.4-1.27-1.4-1.5 0-.43.03-.63.98-1.37 1.23-.97 1.9-2.23 1.9-3.57 0-1.22-.36-2.3-1-3.05h.5c.1 0 .2-.04.28-.1l1.36-.98c.16-.12.23-.34.17-.54-.07-.2-.25-.33-.46-.33H7.6c-.66 0-1.34.12-2 .35-2.23.76-3.78 2.66-3.78 4.6 0 2.76 2.13 4.85 5 4.9-.07.23-.1.45-.1.66 0 .43.1.83.33 1.22h-.08c-2.72 0-5.17 1.34-6.1 3.32-.25.52-.37 1.04-.37 1.56 0 .5.13.98.38 1.44.6 1.04 1.84 1.86 3.55 2.28.87.23 1.82.34 2.8.34.88 0 1.7-.1 2.5-.34 2.4-.7 3.97-2.48 3.97-4.54 0-1.97-.63-3.15-2.33-4.35zm-7.7 4.5c0-1.42 1.8-2.68 3.9-2.68h.05c.45 0 .9.07 1.3.2l.42.28c.96.66 1.6 1.1 1.77 1.8.05.16.07.33.07.5 0 1.8-1.33 2.7-3.96 2.7-1.98 0-3.54-1.23-3.54-2.8zM5.54 3.9c.33-.38.75-.58 1.23-.58h.05c1.35.05 2.64 1.55 2.88 3.35.14 1.02-.08 1.97-.6 2.55-.32.37-.74.56-1.23.56h-.03c-1.32-.04-2.63-1.6-2.87-3.4-.13-1 .08-1.92.58-2.5zM23.5 9.5h-3v-3h-2v3h-3v2h3v3h2v-3h3"></path>
                                    </svg>
                                </div>
                            </div>
                        </a><a class="resp-sharing-button__link"
                               href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://fanpelis.com/un-dia-para-sobrevivir/&amp;title={{.PlayData.Title}}&amp;summary={{.PlayData.Title}}&amp;source=http://fanpelis.com/un-dia-para-sobrevivir/"
                               target="_blank" aria-label="">
                            <div class="resp-sharing-button resp-sharing-button--lkd resp-sharing-button--small">
                                <div aria-hidden="true"
                                     class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <path d="M6.5 21.5h-5v-13h5v13zM4 6.5C2.5 6.5 1.5 5.3 1.5 4s1-2.4 2.5-2.4c1.6 0 2.5 1 2.6 2.5 0 1.4-1 2.5-2.6 2.5zm11.5 6c-1 0-2 1-2 2v7h-5v-13h5V10s1.6-1.5 4-1.5c3 0 5 2.2 5 6.3v6.7h-5v-7c0-1-1-2-2-2z"></path>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <p>{{.PlayData.Description}}</p>

                        <div class="at-below-post addthis_tool"
                             data-url="http://fanpelis.com/un-dia-para-sobrevivir/"></div>
                        <!-- AddThis Share Buttons generic via filter on the_content --></div>
                    <div class="mvic-info">

                        <div class="mvici-left">
                            <p><strong>Views:</strong> {{.PlayData.PageViews}}</p>
                            <p><strong>Category: </strong>
                                {{.PlayData.CategoryId}}
                            </p>
                            <p><strong>Director: </strong><span>
                                    {{.PlayData.Director}}
                                </span></p>
                            <p><strong>Label: </strong><span>
                                    {{.PlayData.Label}}
                                </span></p>
{{/*                            <p><strong>Actors: </strong><span>*/}}
{{/*                                    {{range $i,$v := .Actors}}*/}}
{{/*                                        <a href="/page/actor/{{$v.ActorID}}/" rel="tag">{{$v.ActorName}}</a>,*/}}
{{/*                                    {{end}}*/}}
{{/*                                </span></p>*/}}
{{/*                            <p><strong>Country: </strong>*/}}
{{/*                                {{range $i,$v := .Countries}}*/}}
{{/*                                    <a href="/page/country/{{$v.CountryID}}/" rel="tag">{{$v.CountryName}}</a>,*/}}
{{/*                                {{end}}*/}}

{{/*                            </p>*/}}
                        </div>
                        <div class="mvici-right">
{{/*                            <p><strong>Duracion:</strong> <span itemprop="duration">{{.PlayData.Duracion}}</span></p>*/}}
                            <p><strong>Quality: </strong> <span class="quality">HD</span></p>
{{/*                            <p><strong>Launching: </strong> <a href="/page/year/{{.PlayData.Years}}"*/}}
{{/*                                                                 rel="tag"> {{.PlayData.Years}}</a></p>*/}}
                            <div itemscope="" itemtype="http://schema.org/VideoObject">
                                <meta itemprop="embedUrl" content="https://www.youtube.com/embed/Hfb0-U0ydj8">
                                <meta itemprop="name" content="{{.PlayData.Title}}">
                                <meta itemprop="description" content="Live or Die on This Day">
                                <meta itemprop="thumbnailUrl"
                                      content="https://image.tmdb.org/t/p/w780/888jtZz0mWfANiml4Pfe9567o3X.jpg">
                                <meta itemprop="uploadDate" content="2017-12-03T18:35:52+00:00">
                            </div>

                            <!-- Micro data -->
                            <meta itemprop="url" content="http://fanpelis.com/un-dia-para-sobrevivir/">
                            <meta itemprop="datePublished" content="">
                            <meta itemprop="headline" content="Live or Die on This Day">
                            <meta itemprop="genre" content="Drama">
                            <meta itemprop="genre" content="Thriller"><!-- Micro data -->
                            <div class="imdb_r" itemtype="http://schema.org/AggregateRating" itemscope=""
                                 itemprop="aggregateRating">
                                <p><strong>IMDb: </strong> <span itemprop="ratingValue"
                                                                 class="imdb-r">{{.PlayData.Star}}</span>
                                </p></div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="clearfix" style="float:left"></div>
                        <!--<p ><strong>Complete Cast: </strong><span class="complete-casts"><a class="read-more-show">Show More</a></span></p>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- keywords -->
        </div>


        <!--related-->
        <div class="movies-list-wrap mlw-related">
            <div class="ml-title ml-title-page">
                <span>You may like</span>
            </div>
            <div class="movies-list movies-list-full">

                {{range .Recommend}}
                    {{template "iterm/video.html" .}}
                {{end}}

            </div>
        </div>

    </div>

</div>

<script>
    var md = document.getElementsByTagName("video")[0];
    md.addEventListener("play",function(){
        // alert("play")
    });
    md.addEventListener("ended", function () {
        // alert("ended")
    });

    md.addEventListener("pause",function () {
        // alert("ended")

    });

</script>

<script>
    var md = document.getElementById("video_movie");
    $(".play_now").bind("click",function(){
        $(".play_button").hide();
        $("#myvid").show();
        md.play();
    });

    $(".download_now").bind("click",function(){
        var iframe = document.createElement("iframe");
        iframe.style.display = "none";
        iframe.src = "{{.PlayData.Url}}";
        // iframe.src = "https://www.fembed.com/api/mp4?token=eGFqRzJ4ekNVWHFmV2l0ZHhGVXFXK0htUEJ6aXdhall0TnhtYlcrN0hRTjdoOVFtWERjWXB6T0REY004YXZ5SHFWZTZWM25xa1cydWJRdHhwK0psMjVycU9HRCtwZ3RUQnQvQ1NaY05hNmV2c2pvZUt1Y0FWMXpCVmpvTUdlSG9kZDhocTVwNE9kcHlCMEYza0JnekduVldmakU9OlZLVDRiLzlCcmZMcUhJQU9QUm9LM2c9PQ"
        document.body.appendChild(iframe);})
</script>

<script>
    $(".play_button").bind("click",function () {
        $(".play_button").hide();
        $("#myvid").show();
        md.play();
    })
</script>