<div class="container">
    <div class="pad"></div>
    <div class="main-content main-category">
        <!--category-->
        <div class="movies-list-wrap mlw-category">
            <div class="ml-title ml-title-page">
                <span>Acción Movies</span>
                <div class="clearfix"></div>
            </div>


            <div class="movies-list movies-list-full">
                <style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="15082" class="ml-item MovItem">
                    <a href="http://fanpelis.com/matrix/" data-url="" class="ml-mask jt" data-hasqtip="0" oldtitle="Matrix" title="" aria-describedby="qtip-0">

                        <span class="mli-quality">
                    HD1080P                </span>


                        <img data-original="https://image.tmdb.org/t/p/w185/hq3jO2nuVBOYpqKUTRk3L64aius.jpg" class="lazy thumb mli-thumb" alt="Matrix" src="https://image.tmdb.org/t/p/w185/hq3jO2nuVBOYpqKUTRk3L64aius.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Matrix            </h2>
        </span>
                    </a>


                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="15080" class="ml-item MovItem">
                    <a href="http://fanpelis.com/matrix-recargado/" data-url="" class="ml-mask jt" data-hasqtip="1" oldtitle="Matrix recargado" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/djBuhBP8ikD2cfBVJq3usU5Qj8T.jpg" class="lazy thumb mli-thumb" alt="Matrix recargado" src="https://image.tmdb.org/t/p/w185/djBuhBP8ikD2cfBVJq3usU5Qj8T.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Matrix recargado            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Matrix recargado        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                7.2            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2003/" rel="tag">2003</a>            </div>


                            <div class="jt-info">
                                138 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/matrix-recargado/"></div>
                        <p>Neo, Morpheus, Trinity y el resto de la tripulación continúan en la lucha contra las máquinas que han esclavizado a la raza humana. Ahora más humanos han sido despertados e…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/matrix-recargado/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/estados-unidos/" rel="tag">Estados Unidos</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/aventura/" rel="category tag">Aventura</a>, <a href="http://fanpelis.com/genre/ciencia-ficcion/" rel="category tag">Ciencia ficción</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/matrix-recargado/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5794" class="ml-item MovItem">
                    <a href="http://fanpelis.com/poseidon/" data-url="" class="ml-mask jt" data-hasqtip="2" oldtitle="Poseidón" title="" aria-describedby="qtip-2">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/yeiCuwMSHLmf7NoYzxiEAjkJHkg.jpg" class="lazy thumb mli-thumb" alt="Poseidón" src="https://image.tmdb.org/t/p/w185/yeiCuwMSHLmf7NoYzxiEAjkJHkg.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Poseidón            </h2>
        </span>
                    </a>


                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="41924" class="ml-item MovItem">
                    <a href="http://fanpelis.com/trauma/" data-url="" class="ml-mask jt" data-hasqtip="3" oldtitle="Trauma" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/enDtNl8gS60QQd9eoVPGQ2T6Dlq.jpg" class="lazy thumb mli-thumb" alt="Trauma" src="https://image.tmdb.org/t/p/w185/enDtNl8gS60QQd9eoVPGQ2T6Dlq.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Trauma            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Trauma        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                6.0            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2017/" rel="tag">2017</a>            </div>


                            <div class="jt-info">
                                106 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/trauma/"></div>
                        <p>Trauma Cuatro amigas deciden pasar unos días en una aldea rural en el Chile más profundo. Tras la primera impresión de encontrarse en el paraíso, se encuentran con un hombre…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/trauma/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/chile/" rel="tag">Chile</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/drama/" rel="category tag">Drama</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a>, <a href="http://fanpelis.com/genre/terror/" rel="category tag">Terror</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/trauma/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5591" class="ml-item MovItem">
                    <a href="http://fanpelis.com/matrix-revoluciones/" data-url="" class="ml-mask jt" data-hasqtip="4" oldtitle="Matrix: Revoluciones" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/oCi1QGGJ4fzf2u2r8hJLAiHH6l0.jpg" class="lazy thumb mli-thumb" alt="Matrix: Revoluciones" src="https://image.tmdb.org/t/p/w185/oCi1QGGJ4fzf2u2r8hJLAiHH6l0.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Matrix: Revoluciones            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Matrix: Revoluciones        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb: N/A            </div>


                            <div class="jt-info">
                                N/A            </div>


                            <div class="jt-info">
                                N/A            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/matrix-revoluciones/"></div>
                        <p>Todo lo que tiene un comienzo tiene un final. La guerra estalla en la superficie de la tierra mientras las máquinas invaden Zion. Allí donde Reloaded significaba vida, Revolutions apunta…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/matrix-revoluciones/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>


                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/aventura/" rel="category tag">Aventura</a>, <a href="http://fanpelis.com/genre/ciencia-ficcion/" rel="category tag">Ciencia ficción</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/matrix-revoluciones/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5539" class="ml-item MovItem">
                    <a href="http://fanpelis.com/en-la-oscuridad-star-trek/" data-url="" class="ml-mask jt" data-hasqtip="5" oldtitle="En la oscuridad, Star Trek" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/tugF9aWykDcG8kvZlKIiFM8Zgc9.jpg" class="lazy thumb mli-thumb" alt="En la oscuridad, Star Trek" src="https://image.tmdb.org/t/p/w185/tugF9aWykDcG8kvZlKIiFM8Zgc9.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                En la oscuridad, Star Trek            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            En la oscuridad, Star Trek        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb: N/A            </div>


                            <div class="jt-info">
                                N/A            </div>


                            <div class="jt-info">
                                N/A            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/en-la-oscuridad-star-trek/"></div>
                        <p>La tripulación de la nave Enterprise recibe la orden de regresar a la Tierra para enfrentarse a un terrorífico grupo que, desde dentro, ha perpetrado un ataque contra la cúpula…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/en-la-oscuridad-star-trek/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>


                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/aventura/" rel="category tag">Aventura</a>, <a href="http://fanpelis.com/genre/ciencia-ficcion/" rel="category tag">Ciencia ficción</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/en-la-oscuridad-star-trek/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5548" class="ml-item MovItem">
                    <a href="http://fanpelis.com/dos-super-super-esbirros/" data-url="" class="ml-mask jt" data-hasqtip="6" oldtitle="Dos super super esbirros" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/fvJoJjT2kMdMOvSRBstYwbHfDr7.jpg" class="lazy thumb mli-thumb" alt="Dos super super esbirros" src="https://image.tmdb.org/t/p/w185/fvJoJjT2kMdMOvSRBstYwbHfDr7.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Dos super super esbirros            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Dos super super esbirros        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                7.2            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/1983/" rel="tag">1983</a>            </div>


                            <div class="jt-info">
                                107 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/dos-super-super-esbirros/"></div>
                        <p>Rosco Frazer (Terence Hill) es un simpático viajero que vagabundea por las autopistas y casi es atropellado por un enorme camión conducido por dos tipos fuertes. Doug O’Riordan (Bud Spencer),…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/dos-super-super-esbirros/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/estados-unidos/" rel="tag">Estados Unidos</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/aventura/" rel="category tag">Aventura</a>, <a href="http://fanpelis.com/genre/comedia/" rel="category tag">Comedia</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/dos-super-super-esbirros/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5535" class="ml-item MovItem">
                    <a href="http://fanpelis.com/elektra/" data-url="" class="ml-mask jt" data-hasqtip="7" oldtitle="Elektra" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/tPNM1iP7YS9w4OQsBOChLzbHmBF.jpg" class="lazy thumb mli-thumb" alt="Elektra" src="https://image.tmdb.org/t/p/w185/tPNM1iP7YS9w4OQsBOChLzbHmBF.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Elektra            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Elektra        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                4.8            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2005/" rel="tag">2005</a>            </div>


                            <div class="jt-info">
                                97 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/elektra/"></div>
                        <p>Tras recuperarse de las mortales heridas sufridas en “Daredevil”, Elektra (Jennifer Garner)se convierte en la más peligrosa asesina del mundo. Cuando le encargan la próxima misión, toma una decisión que…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/elektra/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/estados-unidos/" rel="tag">Estados Unidos</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/fantasia/" rel="category tag">Fantasía</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/elektra/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5792" class="ml-item MovItem">
                    <a href="http://fanpelis.com/bourne-el-ultimatum/" data-url="" class="ml-mask jt" data-hasqtip="8" oldtitle="Bourne: El ultimátum" title="" aria-describedby="qtip-8">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/i3ofaWlxaKSE3rp0c9jBXj7onYM.jpg" class="lazy thumb mli-thumb" alt="Bourne: El ultimátum" src="https://image.tmdb.org/t/p/w185/i3ofaWlxaKSE3rp0c9jBXj7onYM.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Bourne: El ultimátum            </h2>
        </span>
                    </a>


                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="41360" class="ml-item MovItem">
                    <a href="http://fanpelis.com/blood-brother/" data-url="" class="ml-mask jt" data-hasqtip="9" oldtitle="Blood Brother" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/46Z8vyP3G10ASVeLKERc3qgta1E.jpg" class="lazy thumb mli-thumb" alt="Blood Brother" src="https://image.tmdb.org/t/p/w185/46Z8vyP3G10ASVeLKERc3qgta1E.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Blood Brother            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Blood Brother        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                N/A            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2018/" rel="tag">2018</a>            </div>


                            <div class="jt-info">
                                90 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/blood-brother/"></div>
                        <p>Blood Brother Un hombre recién salido de la cárcel empieza a vengarse de sus amigos de la infancia, ya que cree que estos permitieron que pagara las consecuencias de un…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/blood-brother/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/usa/" rel="tag">USA</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/crimen/" rel="category tag">Crimen</a>, <a href="http://fanpelis.com/genre/drama/" rel="category tag">Drama</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/blood-brother/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="41356" class="ml-item MovItem">
                    <a href="http://fanpelis.com/the-target-el-objetivo/" data-url="" class="ml-mask jt" data-hasqtip="10" oldtitle="The Target (El objetivo)" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/o5l85BMQoAM3us6e51IKJimDBiW.jpg" class="lazy thumb mli-thumb" alt="The Target (El objetivo)" src="https://image.tmdb.org/t/p/w185/o5l85BMQoAM3us6e51IKJimDBiW.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                The Target (El objetivo)            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            The Target (El objetivo)        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                6.3            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2014/" rel="tag">2014</a>            </div>


                            <div class="jt-info">
                                98 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/the-target-el-objetivo/"></div>
                        <p>The Target (El objetivo) Yeo-hoon es un conocido mercenario de élite que, tras años en el lado oscuro, ha decidido llevar una vida normal. Pero un día se ve envuelto…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/the-target-el-objetivo/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/south-korea/" rel="tag">South Korea</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/the-target-el-objetivo/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="5517" class="ml-item MovItem">
                    <a href="http://fanpelis.com/furia-oriental/" data-url="" class="ml-mask jt" data-hasqtip="11" oldtitle="Furia Oriental" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/8J4bmvs1qsma2HYLCqJ0f0F4Ulm.jpg" class="lazy thumb mli-thumb" alt="Furia Oriental" src="https://image.tmdb.org/t/p/w185/8J4bmvs1qsma2HYLCqJ0f0F4Ulm.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Furia Oriental            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Furia Oriental        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                7.4            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/1972/" rel="tag">1972</a>            </div>


                            <div class="jt-info">
                                107 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/furia-oriental/"></div>
                        <p>Furia Oriental En el Shangai de 1908, Chen Jeh (Bruce Lee) es un estudiante de artes marciales que, al regresar a su escuela, descubre que su maestro ha fallecido. Tras…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/furia-oriental/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>


                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/drama/" rel="category tag">Drama</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/furia-oriental/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="7399" class="ml-item MovItem">
                    <a href="http://fanpelis.com/series/arrow/" data-url="" class="ml-mask jt" data-hasqtip="12" oldtitle="Arrow" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->


                        <img data-original="https://image.tmdb.org/t/p/w185/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg" class="lazy thumb mli-thumb" alt="Arrow" src="https://image.tmdb.org/t/p/w185/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Arrow            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Arrow        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                TMDb:                6            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2012/" rel="tag">2012</a>            </div>


                            <div class="jt-info">
                                42 min</div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/series/arrow/"></div>
                        <p>Serie de TV (2012-Actualidad). Adaptación libre de un personaje de DC Comics, playboy de día, que, durante la noche, usa su arco y sus flechas contra el crimen. Tras haber…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/series/arrow/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Status:            Returning Series        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/aventura/" rel="category tag">Aventura</a>, <a href="http://fanpelis.com/genre/ciencia-ficcion/" rel="category tag">Ciencia ficción</a>, <a href="http://fanpelis.com/genre/crimen/" rel="category tag">Crimen</a>, <a href="http://fanpelis.com/genre/drama/" rel="category tag">Drama</a>, <a href="http://fanpelis.com/genre/misterio/" rel="category tag">Misterio</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/series/arrow/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Series                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="40927" class="ml-item MovItem">
                    <a href="http://fanpelis.com/junto-a-los-dioses-los-ultimos-49-dias/" data-url="" class="ml-mask jt" data-hasqtip="13" oldtitle="Junto a los dioses: Los últimos 49 días" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/j17CGYDlysZjtSqJfbRKS6GmJKF.jpg" class="lazy thumb mli-thumb" alt="Junto a los dioses: Los últimos 49 días" src="https://image.tmdb.org/t/p/w185/j17CGYDlysZjtSqJfbRKS6GmJKF.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Junto a los dioses: Los últimos 49 días            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Junto a los dioses: Los últimos 49 días        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                6.9            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2018/" rel="tag">2018</a>            </div>


                            <div class="jt-info">
                                142 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/junto-a-los-dioses-los-ultimos-49-dias/"></div>
                        <p>Junto a los dioses: Los últimos 49 días Esta cinta es la secuela de&nbsp;Along with the Gods: The Two Worlds, en la que Kim Ja-hong debe seguir demostrando que ha…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/junto-a-los-dioses-los-ultimos-49-dias/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/south-korea/" rel="tag">South Korea</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/aventura/" rel="category tag">Aventura</a>, <a href="http://fanpelis.com/genre/drama/" rel="category tag">Drama</a>, <a href="http://fanpelis.com/genre/fantasia/" rel="category tag">Fantasía</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/junto-a-los-dioses-los-ultimos-49-dias/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="40646" class="ml-item MovItem">
                    <a href="http://fanpelis.com/enemigo-inmortal/" data-url="" class="ml-mask jt" data-hasqtip="14" oldtitle="Enemigo inmortal" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/1zIxlwFKrdUNOfgYzmKy4P2RNfA.jpg" class="lazy thumb mli-thumb" alt="Enemigo inmortal" src="https://image.tmdb.org/t/p/w185/1zIxlwFKrdUNOfgYzmKy4P2RNfA.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Enemigo inmortal            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Enemigo inmortal        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb:                5.2            </div>


                            <div class="jt-info">
                                <a href="http://fanpelis.com/release-year/2017/" rel="tag">2017</a>            </div>


                            <div class="jt-info">
                                109 min            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/enemigo-inmortal/"></div>
                        <p>Enemigo inmortal Lin (Jackie Chang) es un agente especial de Hong Kong a cargo de James (Kim Gyngell), un científico especializado en bioquímica genética. Tras un experimento fallido, el doctor…<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/enemigo-inmortal/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>

                        <div class="block">
                            Country:&nbsp;<a href="http://fanpelis.com/country/china/" rel="tag">China</a>,&nbsp;<a href="http://fanpelis.com/country/hong-kong/" rel="tag">Hong Kong</a>        </div>

                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/ciencia-ficcion/" rel="category tag">Ciencia ficción</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/enemigo-inmortal/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div><style>
                    .MovItem {
                        position: relative;
                    }
                    .movInfo {
                        position: absolute;
                    }

                </style>

                <div data-movie-id="21014" class="ml-item MovItem">
                    <a href="http://fanpelis.com/shock-wave/" data-url="" class="ml-mask jt" data-hasqtip="15" oldtitle="Shock Wave" title="">
                        <!--     	<div class="movInfo">
                                    InfoIcon
                                </div> -->

                        <span class="mli-quality">
                    HD1080P                </span>



                        <img data-original="https://image.tmdb.org/t/p/w185/3BADIrKQp65TNsdUcBs2vi530DY.jpg" class="lazy thumb mli-thumb" alt="Shock Wave" src="https://image.tmdb.org/t/p/w185/3BADIrKQp65TNsdUcBs2vi530DY.jpg" style="display: inline-block;">
                        <span class="mli-info">
            <h2>
                Shock Wave            </h2>
        </span>
                    </a>

                    <div id="hidden_tip">
                        <div id="" class="qtip-title">
                            Shock Wave        </div>
                        <div class="jtip-quality">
                            HD1080P        </div>


                        <div class="jtip-top">
                            <div class="jt-info jt-imdb">
                                IMDb: N/A            </div>


                            <div class="jt-info">
                                N/A            </div>


                            <div class="jt-info">
                                N/A            </div>
                            <div class="clearfix"></div>
                        </div>

                        <p class="f-desc">
                        </p><div class="at-above-post-cat-page addthis_tool" data-url="http://fanpelis.com/shock-wave/"></div>
                        <p>Cuando un terrorista experto en explosivos se hace con el control de un tunel en Hong Kong, amenaza con asesinar a cientos de rehenes si no se cumplen sus exigencias.<!-- AddThis Advanced Settings above via filter on get_the_excerpt --><!-- AddThis Advanced Settings below via filter on get_the_excerpt --><!-- AddThis Advanced Settings generic via filter on get_the_excerpt --><!-- AddThis Share Buttons above via filter on get_the_excerpt --><!-- AddThis Share Buttons below via filter on get_the_excerpt --></p>
                        <div class="at-below-post-cat-page addthis_tool" data-url="http://fanpelis.com/shock-wave/"></div>
                        <p><!-- AddThis Share Buttons generic via filter on get_the_excerpt --></p>
                        <p></p>


                        <div class="block">
                            Genre:            <a href="http://fanpelis.com/genre/accion/" rel="category tag">Acción</a>, <a href="http://fanpelis.com/genre/crimen/" rel="category tag">Crimen</a>, <a href="http://fanpelis.com/genre/drama/" rel="category tag">Drama</a>, <a href="http://fanpelis.com/genre/suspense/" rel="category tag">Suspense</a> </div>

                        <div class="jtip-bottom">
                            <a href="http://fanpelis.com/shock-wave/" class="btn btn-block btn-successful">
                                <i class="fa fa-play-circle mr10"></i>
                                Watch Movie                            </a>

                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div id="pagination" style="margin-top:10px;"><nav><ul class="pagination"><li class="active"><a class="">1</a></li><li><a rel="nofollow" class="page larger" href="http://fanpelis.com/genre/accion/page/2/">2</a></li><li><a rel="nofollow" class="page larger" href="http://fanpelis.com/genre/accion/page/3/">3</a></li><li><a rel="nofollow" href="http://fanpelis.com/genre/accion/page/60/">Last</a></li></ul></nav></div>
        </div>
    </div>
</div>