<header style="position: fixed; top: 0px; background-color: rgb(255, 255, 255);">
    <div class="container">
        <div class="header-logo">
            <a title="Descargar y Ver películas y series Online gratis en excelente calidad HD1080p"
               href="http://fanpelis.com" id="logo"></a>
        </div>
        <div class="mobile-menu"><i class="fa fa-reorder"></i></div>
        <div class="mobile-search"><i class="fa fa-search"></i></div>
        <div id="menu">
            <ul id="menu-main-menu" class="top-menu">
                <li id="menu-item-11"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-11">
                    <a href="/">Inicio</a></li>
                <li id="menu-item-12"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12">
                    <a>Género</a>
                    <div class="sub-container" style="display: none;">
                        <ul class="sub-menu">
                            <li id="menu-item-26842"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26842"><a
                                        href="http://fanpelis.com/genre/accion/">Acción</a></li>
                            <li id="menu-item-26843"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26843"><a
                                        href="http://fanpelis.com/genre/animacion/">Animación</a></li>
                            <li id="menu-item-26844"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26844"><a
                                        href="http://fanpelis.com/genre/aventura/">Aventura</a></li>
                            <li id="menu-item-26845"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26845"><a
                                        href="http://fanpelis.com/genre/ciencia-ficcion/">Ciencia ficción</a></li>
                            <li id="menu-item-26846"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26846"><a
                                        href="http://fanpelis.com/genre/comedia/">Comedia</a></li>
                            <li id="menu-item-26847"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26847"><a
                                        href="http://fanpelis.com/genre/crimen/">Crimen</a></li>
                            <li id="menu-item-26848"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26848"><a
                                        href="http://fanpelis.com/genre/documental/">Documental</a></li>
                            <li id="menu-item-26849"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26849"><a
                                        href="http://fanpelis.com/genre/drama/">Drama</a></li>
                            <li id="menu-item-26850"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26850"><a
                                        href="http://fanpelis.com/genre/familia/">Familia</a></li>
                            <li id="menu-item-26851"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26851"><a
                                        href="http://fanpelis.com/genre/fantasia/">Fantasía</a></li>
                            <li id="menu-item-26852"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26852"><a
                                        href="http://fanpelis.com/genre/guerra/">Guerra</a></li>
                            <li id="menu-item-26853"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26853"><a
                                        href="http://fanpelis.com/genre/historia/">Historia</a></li>
                            <li id="menu-item-26854"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26854"><a
                                        href="http://fanpelis.com/genre/misterio/">Misterio</a></li>
                            <li id="menu-item-26855"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26855"><a
                                        href="http://fanpelis.com/genre/musica/">Música</a></li>
                            <li id="menu-item-26856"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26856"><a
                                        href="http://fanpelis.com/genre/romance/">Romance</a></li>
                            <li id="menu-item-26857"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26857"><a
                                        href="http://fanpelis.com/genre/terror/">Terror</a></li>
                            <li id="menu-item-26858"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26858"><a
                                        href="http://fanpelis.com/genre/thriller/">Thriller</a></li>
                            <li id="menu-item-26859"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26859"><a
                                        href="http://fanpelis.com/genre/western/">Western</a></li>
                        </ul>
                    </div>
                </li>
                <li id="menu-item-6267"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6267">
                    <a href="#">Por año</a>
                    <div class="sub-container" style="display: none;">
                        <ul class="sub-menu">
                            <li id="menu-item-6246"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6246">
                                <a href="http://fanpelis.com/release-year/2000/">2000</a></li>
                            <li id="menu-item-6247"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6247">
                                <a href="http://fanpelis.com/release-year/2001/">2001</a></li>
                            <li id="menu-item-6248"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6248">
                                <a href="http://fanpelis.com/release-year/2002/">2002</a></li>
                            <li id="menu-item-6249"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6249">
                                <a href="http://fanpelis.com/release-year/2003/">2003</a></li>
                            <li id="menu-item-6250"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6250">
                                <a href="http://fanpelis.com/release-year/2004/">2004</a></li>
                            <li id="menu-item-6251"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6251">
                                <a href="http://fanpelis.com/release-year/2005/">2005</a></li>
                            <li id="menu-item-6252"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6252">
                                <a href="http://fanpelis.com/release-year/2006/">2006</a></li>
                            <li id="menu-item-6253"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6253">
                                <a href="http://fanpelis.com/release-year/2007/">2007</a></li>
                            <li id="menu-item-6254"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6254">
                                <a href="http://fanpelis.com/release-year/2008/">2008</a></li>
                            <li id="menu-item-6255"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6255">
                                <a href="http://fanpelis.com/release-year/2009/">2009</a></li>
                            <li id="menu-item-6256"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6256">
                                <a href="http://fanpelis.com/release-year/2010/">2010</a></li>
                            <li id="menu-item-6257"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6257">
                                <a href="http://fanpelis.com/release-year/2011/">2011</a></li>
                            <li id="menu-item-6258"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6258">
                                <a href="http://fanpelis.com/release-year/2012/">2012</a></li>
                            <li id="menu-item-6259"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6259">
                                <a href="http://fanpelis.com/release-year/2013/">2013</a></li>
                            <li id="menu-item-6260"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6260">
                                <a href="http://fanpelis.com/release-year/2014/">2014</a></li>
                            <li id="menu-item-6261"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6261">
                                <a href="http://fanpelis.com/release-year/2015/">2015</a></li>
                            <li id="menu-item-6262"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6262">
                                <a href="http://fanpelis.com/release-year/2016/">2016</a></li>
                            <li id="menu-item-6263"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-6263">
                                <a href="http://fanpelis.com/release-year/2017/">2017</a></li>
                            <li id="menu-item-22414"
                                class="menu-item menu-item-type-taxonomy menu-item-object-release-year menu-item-22414">
                                <a href="http://fanpelis.com/release-year/2018/">2018</a></li>
                        </ul>
                    </div>
                </li>
                <li id="menu-item-22775"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-22775">
                    <a>PAÍS</a>
                    <div class="sub-container" style="display: none;">
                        <ul class="sub-menu">
                            <li id="menu-item-22776"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22776"><a
                                        href="http://fanpelis.com/country/argentina/">Argentina</a></li>
                            <li id="menu-item-22781"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22781"><a
                                        href="http://fanpelis.com/country/brasil/">Brasil</a></li>
                            <li id="menu-item-22785"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22785"><a
                                        href="http://fanpelis.com/country/chile/">Chile</a></li>
                            <li id="menu-item-22787"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22787"><a
                                        href="http://fanpelis.com/country/colombia/">Colombia</a></li>
                            <li id="menu-item-22788"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22788"><a
                                        href="http://fanpelis.com/country/costa-rica/">Costa Rica</a></li>
                            <li id="menu-item-22794"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22794"><a
                                        href="http://fanpelis.com/country/republica-dominicana/">República
                                    Dominicana</a></li>
                            <li id="menu-item-22822"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22822"><a
                                        href="http://fanpelis.com/country/mexico/">México</a></li>
                            <li id="menu-item-22832"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22832"><a
                                        href="http://fanpelis.com/country/peru/">Perú</a></li>
                            <li id="menu-item-22849"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22849"><a
                                        href="http://fanpelis.com/country/espana/">España</a></li>
                            <li id="menu-item-22861"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22861"><a
                                        href="http://fanpelis.com/country/uruguay/">Uruguay</a></li>
                            <li id="menu-item-22862"
                                class="menu-item menu-item-type-taxonomy menu-item-object-country menu-item-22862"><a
                                        href="http://fanpelis.com/country/estados-unidos/">Estados Unidos</a></li>
                        </ul>
                    </div>
                </li>
                <li id="menu-item-152" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-152"><a
                            href="http://fanpelis.com/movies">Películas</a></li>
                {{/*<li id="menu-item-4310" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4310">*/}}
                    {{/*<a href="http://fanpelis.com/series">Series</a></li>*/}}
                <li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a
                            href="/top-imdb">Top IMDb</a></li>
                <li id="menu-item-33362"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33362"><a
                            href="http://fanpelis.com/a-z-lista/?simbolo=0-9&amp;pg=1">A – Z LISTA</a></li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="top-user">
            <div class="top-user-content guest">
            </div>
        </div>
        <div id="search">
            <div class="search-content">
                <form method="get" id="searchform" action="http://fanpelis.com">
                    <input autocomplete="off" class="form-control search-input" type="text" placeholder="Buscar.."
                           name="s" id="s" value="">
                    <button type="submit"><i class="fa fa-search"></i></button>

                </form>


            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</header>
